header,body{
    margin: 60px;
    text-align: center;
}
.btn{
    background-color: red;
color: azure;
padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}
nav span,h1{
    font-size: 50px;
    margin: 10px;
}

.head{
    text-align: center;
    color:azure;
    padding: 50px;
    margin-top: 50px;

    background-image: url(images/head.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.head form{
    padding: 50px;
}

.head form input{
    padding: 20px;
    margin: 5px;
}

.s1{
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.s2 div{
    padding: 40px;
    margin: 20px;
    text-align: left;
}

.form form{
    background-color: antiquewhite;
    margin: 20px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
}
.form input{
    padding: 20px;
    margin: 5px;
}


.container{
    position: relative;
    text-align: center;
    color: aliceblue;
}
.offer{
    background-color: red;
    position: absolute;
    bottom: 120px;
    right: 50px;
    transform: rotate(-10deg);
}

@media screen and (max-width: 600px)  {
    header, body{margin: 20px;}
    nav a{
         display:none;

    }

    .head form{
        display:flex;
        flex-direction: column;
    }
    .head form input{
        padding: 20px;
        margin: 5px;
    }
    .s1{
        display: block;
    }
}


@media screen and (min-width: 601px)  {
    .bar img{
         display:none;

    }

    .grid{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(8,1fr);
    }
    .g1{
        grid-column: span 4;
    }
    .g2{
        grid-column: span 4 ;
    }
    .g3{
        grid-column: span 2;
    }
    .g4{
        grid-column: span 4;
    }
    .g5{
        grid-column: span 2;
    }
    .g6{
        grid-column: span 4;
    }
    .g7{
        grid-column: span 4;
    }

    .s2{
        display:grid;
        grid-template-columns:50% 50% ;
    }

    .form{
        display: flex;
        justify-content:space-evenly;
    }
}

