header,body{
    margin: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
}
nav span{
    font-size: 50px;
    margin: 10px;
}




@media screen and (max-width: 600px)  {
    header, body{margin: 20px;}
    nav a{
         display:none;

    }
}
@media screen and (min-width: 600px)  {
    .bar img{
         display:none;

    }
}

